.longbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 990;
}
